// contains font, colors definitions
//Body
$background-color:#fff;
//Fonts
$font-family: "Nunito" sans-serif;
$font-size:0.9rem;
//colors
$white:#fff;
$blue: #3490dc;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;